:root{
    --robot-color: gray;
    --robot-eyes:white;

    --human-color: rgb(236, 222, 25);
    --human-eyes: white;
    
}
.row-table{
    display: flex;
    flex-direction: row;
}
.table{
    grid-area: game;
    margin: 30px;
}

.grid-tic-tac-toe{
    display: grid;
    grid-template-areas: 
            "human . robot"
            ". game ."     
}

@media (max-width: 576px) {
    .grid-tic-tac-toe{
        display: grid;
        grid-template-areas: 
                ". human robot ."
                ". game game ."     
    }
}


.cross {
    width: 100px;
    height: 100px;
   
  }
  .circle{
    width: 80%;
    height: 80%;
    border-radius: 100% ;
    background: white;
    
}
.circle::after{
    position: relative;
    display: block;

    content: "";
    top: 15px;
    left: 15px;
    width: 70px;
    height: 70px;
    border-radius: 100% ;
    background: #282c34;
}
   
  
.cross:after {
    
    position: relative;
    display: block;
    background: white;
    content: "";
    top:20px;
    height: 20px;
    width: 100px;
    transform: rotate(-45deg);
}
.cross::before {
    
    position: relative;
   display: block;
    background: white;
    content: "";
    top:40px;
    height: 20px;
    width: 100px;
    transform: rotate(45deg);
}
.cell{
    
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.mark{
    position: relative;
    display: block;
    background: red;

   
}
.robot{
    grid-area: robot;
    margin-top: 30px;
    left: 200px;
}

.robot-antena{
    
    background: #000;
    height: 50px;
    width: 5px;
    margin: 0 auto;
}
.robot-antena::after{
    content:"";
    z-index: 2;
    display: flex;
    border-radius: 30px;
    border: 5px solid black;
    background: var(--robot-color);
    position: relative;
    left: -10px;
    top:-1px;
    width: 15px;
    height: 15px;
}

.robot-head{
    display: block;
    background: var(--robot-color);
    border-radius: 2px;
    border: 5px solid #000;
    width: 100px;
    height: 100px;

  }
  .robot-neck{
    top: -5px;
    width: 40px;
    height: 20px;
    margin: 0 auto;
    background-color: var(--robot-color);
    border: 5px solid black;
    position: relative;

  }
  .robot-eyes{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 20%;
    gap: 10px;
    align-items: center;
    justify-content: center ;
}
.robot-eyes-left{

    width: 20px;
    height: 20px;
    border: 5px solid black;
    background-color: var(--robot-eyes);


    
}

.robot-eyes-rigth{
    width: 20px;
    height: 20px;
    border: 5px solid black;
    background-color: var(--robot-eyes);
    
}

.robot-eyes-active{
    animation: rainbow 0.5s infinite ;
}
.robot-mouth{
    height: 15px;
    margin: 15% 25px;
    border: 5px solid #000;
    background-color: var(--robot-eyes);
    display: flex;
    gap: 10px;
    justify-content: center;
}
.robot-mouth::after{
    content: "";
    left: 66%;
    height: 15px;
    width:  5px;
    background-color: black;
    
}
.robot-mouth::before{
    content: "";
    left: 33%;
    height: 15px;
    width:  5px;
    background-color: black;

}

/* Human */


.human{
    grid-area: human;
    margin-top: 30px;
    right: 200px;
}
.head-space{
    position: relative;

    height: 50px;
    width: 100%;
}
.thinking{
   position: absolute;
    color: rgb(0, 0, 0);
   font-size: 2.5em;
   left:25px;
   top:-12px;
   font-weight: 700;

   
}
.speech-bubble{
    z-index: 3;
    left: -70px;
    position: relative;
    height: 60px;
    width: 70px;
    border-radius: 30px 30px 0 30px;
    border: 5px solid black;
    background-color: white;
    animation: breath 1s infinite;
}

.human-head{
    display: block;
    background: var(--human-color);
    border-radius: 50%;
    border: 5px solid #000;
    width: 100px;
    height: 100px;

  }
  .human-neck{
    top: -5px;
    width: 50px;
    height: 20px;
    margin: 0 auto;
    background-color: var(--human-color);
    border: 5px solid black;
    position: relative;
    border-radius: 150px 150px 0 0;

  }
  .human-eyes{
    position: relative;
  
    display: flex;
    width: 100%;
    margin-top: 20%;
    gap: 10px;
    align-items: center;
    justify-content: center ;
}
.human-eyes-left{
    background-color: var(--human-eyes);
    border-radius: 50%;
    width: 20px;
    height: 20px;
   
    border: 5px solid black;


    
}

.human-eyes-rigth{
    background-color: var(--human-eyes);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid black;
   
    
}
.human-mouth{
    border-radius: 50%;
    height: 15px;
    margin: 7% 30px;
    border: 5px solid #000;
    background-color: var(--human-color);
    display: flex;
    position: relative;
    gap: 10px;
    justify-content: center;
}
.human-mouth::after{
    display: flex;
    position: absolute;
    content: "";
    height: 15px;
    width:  140%;
    top:-7px;
    background-color: var(--human-color);
    
}

.pulse {
    z-index: 1;
    background: red;
    border-radius: 500px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: -49px;
    margin-left: 45px;
    animation: pulse 0.5s infinite ease-in-out;
  }

  @keyframes breath {
    0%,100% {
        transform: scale(1);
        opacity: 1;
      }
    
      50% {
        transform: scale(1.3);
        opacity: 1;
      }
  }
    @keyframes pulse {
        from {
          background: #663399;
          transform: scale(1);
          opacity: 1;
        }
        to {
          background: #fff;
          transform: scale(3);
          opacity: 0;
        }
      }
    
      @keyframes rainbow{
		100%,0%{
			background-color: rgb(255,0,0);
		}
		8%{
			background-color: rgb(255,127,0);
		}
		16%{
			background-color: rgb(255,255,0);
		}
		25%{
			background-color: rgb(127,255,0);
		}
		33%{
			background-color: rgb(0,255,0);
		}
		41%{
			background-color: rgb(0,255,127);
		}
		50%{
			background-color: rgb(0,255,255);
		}
		58%{
			background-color: rgb(0,127,255);
		}
		66%{
			background-color: rgb(0,0,255);
		}
		75%{
			background-color: rgb(127,0,255);
		}
		83%{
			background-color: rgb(255,0,255);
		}
		91%{
			background-color: rgb(255,0,127);
		}
}

